<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CMS.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="CMS.My.MySettings.CMSConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\CMS.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <CMS.My.MySettings>
            <setting name="ClinicName" serializeAs="String">
                <value />
            </setting>
            <setting name="WorkingDays" serializeAs="String">
                <value />
            </setting>
            <setting name="FTfees" serializeAs="String">
                <value />
            </setting>
            <setting name="FUfees" serializeAs="String">
                <value />
            </setting>
        </CMS.My.MySettings>
    </userSettings>
</configuration>